<article class="post">
  <div class="title">
    <div class="post-title"><a href="/post/{{id}}">{{title}}</a> <span>Posted by {{user.username}} on {{format_date created_at}}</span></div>
  </div>
  <div class="post-body">{{post_body}}</div>

</article>